.logsTable thead {
    background: #0e0e0e;
    color: #ccc;
}
.logsTable td {
    font-size: 14px;
    padding: 8px;
}

.page-item.active .page-link {
    background: #2d2d2d;
    border-color: #3f3f3f;
    color: #A3A3A3;
}

.page-link {
    color: #A3A3A3;
}
.page-link:hover {
    color: #2d2d2d;
}